// Menu
.body-top.body-menu--sticky--active {
  --menu-py: .75em;
}

#body-home {
  #header {
    @mixin show-from($delay) {
      animation: show-from .5s (.5 + .25s * $delay) both;
    }
    .box__title  { @include show-from(1); }
    .md p        { @include show-from(2); }
    .md .buttons { @include show-from(3); }
    // &.bg--image-fixed > .bg-figure .bg-figure-image {
    //   object-position: center -120px;
    // }
  }
  #proyectos {
    .boxes {
      .subtitle {
        font-size: 1.5em;
      }
    }
  }
  #servicios {
    .box {
      --radius-pd: 0em;
    }
    .box__icon--top {
      margin-bottom: 1rem;
    }
    .box__button {
      width: auto;
      flex-direction: row-reverse;
    }
  }
}
