
#body-inicio {
  #header {
    @mixin show-from($delay) {
      animation: show-from .5s (.5 + .25s * $delay) both;
    }
    .section__title {       @include show-from(1); }
    .description p {        @include show-from(2); }
    .description .buttons { @include show-from(3); }
    // &.bg--image-fixed > .bg-figure .bg-figure-image {
    //   object-position: center -120px;
    // }
  }
  #proyectos {
    .columns {
      .subtitle {
        font-size: 1.5em;
      }
    }
  }
  #servicios {
    .column {
      --radius-bg: 0em;
    }
    .section__icon--top {
      margin-bottom: 1em;
    }
    .column__button {
      width: auto;
      flex-direction: row-reverse;
    }
  }
  #blog {
    button[title="Más Entradas"] svg,
    .button[title="Más Entradas"] svg {
      display: none;
    }
  }
}

#body-nosotros {
  #politica-calidad-medio-ambiente {
    .section__title {
      justify-content: flex-start;
    }
    .columns--some-bottomless {
      row-gap: var(--gap-columns);
    }
  }
}

// #header,
// #caracteristicas,
// #estudio {
//   .columns {
//     margin-top: 2em;
//     row-gap: 5em;
//   }
// }

#body-proyectos {
  #portfolio {
    .columns {
      .subtitle {
        font-size: 1.5em;
      }
    }
  }
}

#aliados {
  [src="/media/aliados/confederacion-hidrografica.png"] {
    aspect-ratio: 16/9;
    object-fit: contain;
    object-position: center;
  }
}

:root {
  --vw-min: #{ $screen-min / 1px };
  --vw-max: #{ $screen-max / 1px };
  --vw: #{ $screen-min / 1px };
  @media (min-width: $screen-xs) { --vw: #{ $screen-xs / 1px }; }
  @media (min-width: $screen-sm) { --vw: #{ $screen-sm / 1px }; }
  @media (min-width: $screen-md) { --vw: #{ $screen-md / 1px }; }
  @media (min-width: $screen-lg) { --vw: #{ $screen-lg / 1px }; }
  @media (min-width: $screen-xl) { --vw: #{ $screen-xl / 1px }; }
  --run: calc(var(--vw-max) - var(--vw-min));
}
@mixin fluid($name, $unit, $size-min, $size-max) {
  #{$name}: calc(
    clamp(
      min(#{$size-min}, #{$size-max}),
      ((#{$size-max} - #{$size-min}) / var(--run)) * (var(--vw) - var(--vw-min)) + #{$size-min},
      max(#{$size-min}, #{$size-max})
    )
    * #{$unit}
  );
}
#body-precio-electricidad {
  iframe {
    overflow: hidden;
    width: 100%;
    @include fluid(aspect-ratio, 1, .9, 1.67);
  }
}
